<section class="w-50 mx-auto rounded shadow bg-main-light p-3 mt-4 py-4" *ngIf="step1">
    <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
        <label for="email">Email</label>
        <input #emailInput type="email" class="form-control" id="email" placeholder="Enter Your Email..." formControlName="email">
        <div class="alert alert-danger p-1 font-md" *ngIf="forgetForm.get('email')?.errors &&( forgetForm.get('email')?.touched || emailInput.value.length > 0)">
            <p class="mb-0 p-1" *ngIf="forgetForm.get('email')?.getError('required')">Email is Required</p>
            <p class="mb-0 p-1" *ngIf="forgetForm.get('email')?.getError('email')">Email invalid</p>
        </div>
        <button [disabled]="forgetForm.invalid" class="main-btn w-100 mt-3"> Forget Password</button>
        <p *ngIf="userMsg" class="alert alert-secondary text-center mt-2 w-75 mx-auto p-1 mb-0"> {{userMsg}} </p>
    </form>
</section>
<section class="w-50 mx-auto rounded shadow bg-main-light p-3 mt-4 py-4" *ngIf="step2">
    <form [formGroup]="resetForm" (ngSubmit)="resetCode()" >
        <label for="reset">Reset Code</label>
        <input #resetInput type="text" class="form-control" id="reset" placeholder="Enter Reset Code..." formControlName="reset">
        <div class="alert alert-danger p-1 font-md" *ngIf="resetForm.get('reset')?.errors &&( resetForm.get('reset')?.touched || resetInput.value.length > 0)">
            <p   class="mb-0 p-1" *ngIf="resetForm.get('reset')?.getError('required')">reset is Required</p>
            
             
        </div>
        <button [disabled]="resetForm.invalid" class="main-btn w-100 mt-3">Reset Code</button>
        <p *ngIf="userMsg" class="alert alert-secondary mt-2 text-center w-75 mx-auto p-1 mb-0"> {{userMsg}} </p>
    </form>
</section>
<section class="w-50 mx-auto rounded shadow bg-main-light p-3 mt-4 py-4" *ngIf="step3">
    <form [formGroup]="newPassForm" (ngSubmit)="newPassword()" >
        <label for="newPass">New Password</label>
        <input #passwordInput type="text" class="form-control" id="newPass" placeholder="Enter New Password..." formControlName="password">
        <div class="alert alert-danger p-1 font-md" *ngIf="newPassForm.get('password')?.errors &&( newPassForm.get('password')?.touched || passwordInput.value.length > 0)">
            <p class="mb-0 p-1" *ngIf="newPassForm.get('password')?.getError('required')">Password is Required</p>
            <p class="mb-0 p-1" *ngIf="newPassForm.get('password')?.getError('pattern')">must be at least 6 chars</p>
             
        </div>
        <button [disabled]="newPassForm.invalid"  class="main-btn w-100 mt-3">Reset Code</button>
        <p *ngIf="userMsg" class="alert alert-secondary mt-2 text-center w-75 mx-auto p-1 mb-0"> {{userMsg}} </p>
    </form>
</section>