<section class="w-75 mx-auto bg-main-light p-3 rounded my-3 shadow" *ngIf="cartDetails;else Msg">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="h2">Shop Cart</h1>
        <button (click)="clear()" class="btn btn-sm btn-outline-danger fs-5 fw-medium"> <i class="fa-regular fa-trash-can"></i> Clear Your Cart</button>
    </div>

    <p class="text-main">Total Price : {{cartDetails.totalCartPrice |currency:' EGP '}} </p>

    <div class="row mb-3 border-bottom pb-2 mb-2" *ngFor="let item of cartDetails.products">
        <div class="col-md-1">
        <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">
        </div>
        <div class="col-md-11 d-flex justify-content-between align-items-center">
            <div>
                <h3 class="h6"> {{item.product.title}} </h3>
                <p class="text-main"> {{item.price |currency:'EGP '}} </p>
                <button  #removeItem (click)="remove(item.product._id , removeItem)" class="btn remove m-0 p-0 text-danger p-1 mb-1"><i class="fas fa-trash-can"></i> Remove</button>
            </div>
            <div>
                <button  #btn1 (click)="changeCount( item.product._id , item.count - 1,btn1,btn2)" class="btn btn-sm border-success">-</button>
                <span> {{item.count}} </span>
                <button #btn2 (click)="changeCount( item.product._id , item.count + 1 ,btn1,btn2)" class="btn btn-sm border-success">+</button>
            </div>
        </div>
    </div>
    <button [routerLink]="['/payment',cartDetails._id]" class="main-btn">Online Payment <img src="./assets/images/visa-1.svg" alt=""></button>
</section>
<ng-template #Msg>
    <h2 class="text-center pt-4">Your Cart Is Empty...</h2>
</ng-template>
