<section
  class="cart-section w-75 mx-auto bg-main-light p-3 rounded my-3 shadow"
  *ngIf="cartDetails; else Msg"
>
  <!-- Cart Header -->
  <div class="cart-header d-flex justify-content-between align-items-center">
    <h1 class="h2 mb-0">Shop Cart</h1>
    <button
      (click)="clear()"
      class="btn btn-sm btn-outline-danger fs-5 fw-medium clear-btn"
    >
      <i class="fa-regular fa-trash-can"></i> Clear Your Cart
    </button>
  </div>
  <!-- Total Price -->
  <p class="text-main total-price">
    Total Price : {{ cartDetails.totalCartPrice | currency: " EGP " }}
  </p>
  <!-- Cart Products -->
  <div
    class="cart-item row border-bottom pb-2 mb-2"
    *ngFor="let item of cartDetails.products"
  >
    <!-- Product Image -->
    <div class="col-12 col-sm-3 col-md-2 col-lg-1">
      <img
        class="w-100 product-image"
        [src]="item.product.imageCover"
        [alt]="item.product.title"
      />
    </div>
    <!-- Product Info -->
    <div
      class="col-12 col-sm-9 col-md-10 col-lg-11 cart-item-content d-flex justify-content-between align-items-center"
    >
      <!-- Product Details -->
      <div class="product-info">
        <h3 class="h6">{{ item.product.title }}</h3>
        <p class="text-main mb-1">{{ item.price | currency: "EGP " }}</p>
        <button
          #removeItem
          (click)="remove(item.product._id, removeItem)"
          class="btn remove m-0 p-1 text-danger"
        >
          <i class="fas fa-trash-can"></i> Remove
        </button>
      </div>
      <!-- Quantity -->
      <div class="quantity">
        <button
          #btn1
          (click)="changeCount(item.product._id, item.count - 1, btn1, btn2)"
          class="btn btn-sm border-success quantity-btn"
        >
          -
        </button>
        <span class="quantity-number"> {{ item.count }} </span>
        <button
          #btn2
          (click)="changeCount(item.product._id, item.count + 1, btn1, btn2)"
          class="btn btn-sm border-success quantity-btn"
        >
          +
        </button>
      </div>
    </div>
  </div>
  <!-- Payment Button -->
  <button
    [routerLink]="['/payment', cartDetails._id]"
    class="main-btn payment-btn"
  >
    Online Payment <img src="./assets/images/visa-1.svg" alt="Visa" />
  </button>
</section>
<ng-template #Msg>
  <h2 class="text-center pt-4">Your Cart Is Empty..</h2>
</ng-template>
