<section class="bg-main-light p-4 ">
    <div class="container-fluid">
        <h2 class="h4">Get The FreshCart APP</h2>
        <p class="text-muted">We Well Send You a Link</p>
        <div class="d-flex gap-3">
            <input type="email" class="form-control  " placeholder="Email...">
            <button class="main-btn flex-shrink-0">Share App Link</button>
        </div>
        <hr>
        <p class="text-center font-sm">© 2023 malak ghattas , All Rights Reserved</p>
    </div>
</section>