.details{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.164);
    display: flex;
    justify-content: center;
    align-items: center;
    .item{
        margin-top: 80px;
        width: 500px;
        height: 390px;
        
    }
}